<script type='text/template' id='editor_console_template'>

  <%= data_view 'CategoryFilter', 'data-category-field' => 'status' %>
  <%= data_view 'Post' %>
  <%= data_view 'Paging', 'data-collection-type' => 'Post' %>

</script>

<script type='text/template' id='dashboard_template'>

  <!-- User Info here? -->
  <section id='charts'>
      <%= chart 'all_channels' %>
      <%= chart 'twitter' %>
      <%= chart 'facebook' %>
      <%= chart 'youtube' %>
      <%= chart 'blogs' %>
      <%= chart 'customer reviews' %>
  </section>

</script>