<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails3 Mongoid Devise" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails3 Mongoid Devise" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
      <section id='page-content'>
        <%= yield %>
      </section>
    </div> <!--! end of #container -->
     <span id="templates">

	    <%= render partial: "templates/general_templates" %>
        <%= render partial: "templates/post_templates" %>

     </span>
    <%= javascript_include_tag "application" %>

  </body>
</html>
